<html>
<head>
        <title>Головоболь</title>
    </head>
    <body>
        <div>
            <h1 align="center"><a href="/">Да я-то почти молодец</a></h1>
        </div>

        <div>
            <p align="right">published: 23.06.2014, 18:00</p>
        </div>
    
    <h2>Ну, не то чтобы</h2>
    <h3>Но почти что</h3>
    <p><strong>(Это лучше, чем я ожидала, так что...)</strong></p>
   <div>
    <h1 align="center"><a href="/">В примере на сайте какое-то изречение на латыни.</a></h1>
    <p align="right">published: 23.06.2014, 18:00</p> <i>
    	<h2>Lingus latina non penis canina est, </i></h2> <p>вот вам.</p>
   </div>
</body>
</html>